@model StudentVM

@{
    ViewData["Title"] = "Details";
}

<div>
    <a class="btn btn-sm btn-primary" asp-action="Update" asp-route-id="@Model?.Id">Edit</a> |
    <a class="btn btn-sm btn-primary" asp-action="Index">Back to List</a>
</div>
<div>
    <h4>Student Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mobile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<br />
<!-- Add Sub Courses -->
<h4>Add Sub Courses</h4>
<table class="table table-bordered" id="coursesTable">
    <thead>
        <tr>
            <th>Course Name</th>
            <th>Teacher Name</th>
            <th>Maximum Students</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.StudentSubCourses != null)
        {
            var courseIndex = 0;
            foreach (var item in Model.StudentSubCourses)
            {
                <tr>
                    <td>@item.CourseName</td>
                    <td>@item.TeacherName</td>
                    <td>@item.MaximumStudent</td>
                </tr>
                courseIndex++;
            }
        }
    </tbody>
</table>

<br />

<div>
    @Html.Partial("_DynamicAuditTrialGenerate", Model.StudentAuditTrials)
</div>

