@model StudentVM

@{
    ViewData["Title"] = "Update";
}

<h3>Update Student</h3>

<hr />

<div>
    <a class="btn btn-sm btn-primary GlobalAjax" asp-action="StatusChange" asp-route-status="@EnumStatus.PendingForApproval.ToString()" asp-route-id="@Model.Id">Pending For Approval</a>
    <a class="btn btn-sm btn-primary GlobalAjax" asp-action="StatusChange" asp-route-status="@EnumStatus.Approved.ToString()" asp-route-id="@Model.Id">Approve</a>
    <a class="btn btn-sm btn-primary GlobalAjax" asp-action="StatusChange" asp-route-status="@EnumStatus.Rejected.ToString()" asp-route-id="@Model.Id">Reject</a>
</div>


<form asp-action="Update" method="post">
    <div class="row">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group col-md-4">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Address" class="control-label"></label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Mobile" class="control-label"></label>
            <input asp-for="Mobile" class="form-control" />
            <span asp-validation-for="Mobile" class="text-danger"></span>
        </div>

    </div>
    <br />
    <br />

    <!-- Add Sub Courses -->
    <h4>Add Sub Courses</h4>
    <table class="table table-bordered" id="coursesTable">
        <thead>
            <tr>
                <th>Course Name</th>
                <th>Teacher Name</th>
                <th>Maximum Students</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="text" id="courseName" class="form-control" />
                </td>
                <td>
                    <input type="text" id="teacherName" class="form-control" />
                </td>
                <td>
                    <input type="number" id="maximumStudents" class="form-control" />
                </td>
                <td>
                    <button type="button" id="addCourse" class="btn btn-secondary btn-sm">Add Course</button>
                </td>
            </tr>

            <!-- Hidden fields for the dynamically added sub-courses -->
            <div id="hiddenCourses"></div>

        </tbody>
    </table>


    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-sm btn-primary">Back to List</a>
    </div>
</form>

 

<br />
<br />
<div> <h3>Audit Trials</h3> </div>
<table class="table">

    <thead>
        <tr>
            <th>Name</th>
            <th>Action</th>
            <th>ActionBy</th>

        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.StudentAuditTrials)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Action</td>
                <td>@item.ActionBy</td>

            </tr>
        }

    </tbody>

</table>




@section Scripts {
    <script src="~/js/student.js"></script>
}